* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 32rem;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    max-width: 100vw;
    height: 6.4rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    width: 25rem;
    height: 6.4rem;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav ul a {
    margin-right: 1rem;
    color: #000000;
}

header .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

header .menu-icon:hover {
    cursor: pointer;
}

header nav ul li a img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 1rem;
}